.filters > div{
    height: 100%;
    width: 25%;
    box-sizing: border-box;
    margin-left:  50px;
    display: inline-block;
    vertical-align: top;
}
.filters .locations{
    border-right: 1px solid #DDDDDD ;
}
.filters h3{
    font-weight: 600;
    margin-bottom: -15px;
}
.filters h4{
    font-weight: 400;
    font-size: 14px;
}